<%- include('./layouts/_header.ejs') %>
<!-- Other Activities -->
<section>
	<div class="container p-sm-5">
		<h1>Up Coming Events</h1>
	</div>

	<div class="container">
		<div class="row">
			<% events.forEach(event => { %>
			<div class="mb-5">
				<img src="/images/<%= event.image %>" alt="1" class="img-fluid" />

				<div class="card-body">
					<h3><%= event.name %></h3>
					<%= event.details %>
				</div>

				<div class="card-footer bg-white">
					<button
						type="button"
						class="btn btn-secondary rounded-pill"
						data-bs-toggle="modal"
						data-bs-target="#editEvent<%= event.id %>"
					>
						Edit <i class="bi bi-pen"></i>
					</button>

					<a href="#" class="btn btn-danger rounded-pill">
						Delete <i class="bi bi-trash"></i>
					</a>
				</div>
			</div>

			<!-- Edit event modal -->
			<div class="modal fade" id="editEvent<%= event.id %>" tabindex="-1">
				<div class="modal-dialog modal-fullscreen">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title">Edit Event</h5>
							<button
								type="button"
								class="btn-close"
								data-bs-dismiss="modal"
								aria-label="Close"
							></button>
						</div>
						<div class="modal-body">
							<form action="#" enctype="multipart/form-data">
								<div class="form-group">
									<label for="event_flier" class="lead"> Event Flier </label>

									<input
										type="file"
										accept="image/*"
										name="event_flier"
										class="form-control"
									/>
								</div>

								<div class="form-group mt-3">
									<label for="event_details">Event Details</label>
									<textarea
										name="event_details"
										id="event_details"
										rows="10"
										class="form-control"
									></textarea>
								</div>

								<button class="btn btn-nubsBlue mt-3 px-3 rounded-pill">
									Save
								</button>
							</form>
						</div>
					</div>
				</div>
			</div>
			<% }) %>
		</div>

		<button
			type="button"
			data-bs-target="#ev1"
			data-bs-toggle="modal"
			class="btn btn-nubsBlue mt-5"
		>
			Add Event Flier <i class="bi bi-plus-lg"></i>
		</button>
	</div>
</section>

<!-- Modal -->
<div class="modal fade" id="ev1" tabindex="-1">
	<div class="modal-dialog modal-fullscreen-md-down">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Add Event</h5>
				<button
					type="button"
					class="btn-close"
					data-bs-dismiss="modal"
					aria-label="Close"
				></button>
			</div>
			<div class="modal-body">
				<form action="#">
					<div class="form-group">
						<label for="flier" class="lead"> Flier </label>
						<input type="file" accept="image/*" class="form-control" />
					</div>

					<button class="btn btn-nubsBlue rounded-pill mt-4">Save Event</button>
				</form>
			</div>
		</div>
	</div>
</div>
<%- include('./layouts/_footer.ejs') %>
