<%- include('./layouts/_header.ejs') %>

<!-- Weekly Activities -->
<section class="p-sm-5 pt-5 mt-3 mt-sm-0 pt-sm-0">
	<div class="container text-center">
		<h1 class="pt-5 pb-5">Weekly Activities</h1>
		<div class="row g-4">
			<!-- Loop through the activities -->
			<% activities.forEach(activity => { %>
			<div class="col-sm-6 col-lg-4">
				<div class="card shadow">
					<img
						src="<%= activity.image != null ? activity.image : "/images/nubs_logo.png" %>"
						alt="sunday"
						class="card-img-top"
					/>
					<div class="card-body">
						<div class="card-title text-capitalize my-3 h3">
							<%= activity.service %>
						</div>
						<div class="card-text">
							<p class="mb-0 text-capitalize">
								<strong>Day:</strong> <%= activity.day %>
							</p>
							<p class="mb-0"><strong>Time:</strong> <%= activity.time %></p>
							<p class="mb-0 text-capitalize">
								<strong>Location:</strong> <%= activity.location %>
							</p>
						</div>
						<div class="card-footer bg-white pb-0">
							<button
								class="btn btn-success"
								type="button"
								data-bs-target="#wa<%= activity.id %>"
								data-bs-toggle="modal"
							>
								Edit <i class="bi bi-pencil-square"></i>
							</button>
						</div>
					</div>
				</div>
			</div>

			<!-- Modal -->
			<div class="modal fade" id="wa<%= activity.id %>" tabindex="-1">
				<div class="modal-dialog modal-fullscreen-md-down">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title">Sunday Service</h5>
							<button
								type="button"
								class="btn-close"
								data-bs-dismiss="modal"
								aria-label="Close"
							></button>
						</div>
						<div class="modal-body">
							<form action="/admin/edit_activity/<%= activity.id %>" method="POST" enctype="multipart/form-data">
								<div class="form-group">
									<label for="Image" class="lead"> Image </label>

									<input
										type="file"
										name="image"
										accept="image/*"
										class="form-control"
									/>
								</div>
								<div class="form-group mt-3">
									<label for="start_time" class="lead"> Time </label>
									<div class="form-group">
										<small class="text-secondary">Start time : End time</small>
										<input
											type="text"
											class="form-control"
											name="time"
											placeholder="e.g: 6:30pm to 8:00pm"
											value="<%= activity.time %> "
										/>
									</div>
								</div>

								<div class="form-group mt-3">
									<label for="location" class="lead"> Location </label>
									<select name="location" id="location" class="form-control">
										<option value="assembly hall" <%= activity.location == "assembly hall" ? 'selected' : '' %>>Assembly Hall</option>
										<option value="crt (top)" <%= activity.location == "crt (top)" ? 'selected' : '' %>>CRT (Top)</option>
										<option value="crt (bottom)" <%= activity.location == "crt (bottom)" ? 'selected' : '' %>>CRT (Bottom)</option>
										<option value="new life baptist church" <%= activity.location == "new life baptist church" ? 'selected' : '' %>>New Life Baptist Church</option>
										<option value="casford field" <%= activity.location == "casford field" ? 'selected' : '' %>>Casford Field</option>
									</select>
								</div>

								<button type="submit" class="btn btn-nubsBlue mt-3 px-3 rounded">
									Save <i class="bi bi-save"></i>
								</button>
							</form>
						</div>
					</div>
				</div>
			</div>
			<% }) %>
		</div>
	</div>
</section>

<%- include('./layouts/_footer.ejs') %>
